body {
  background-color: black;
}

.nav-menu {
  background-color: #000;
  color: yellow;
}

.nav-menu.link {
  padding-top: 12px;
  padding-bottom: 12px;
  padding: 20px;
  color: yellow;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.nav-menu.link:hover {
  text-decoration: underline;
}

.nav-menu.link:focus {
  text-decoration: underline;
}

.nav-menu.link:visited {
  color: yellow;
}

#home.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#home.box {
  padding: 20px;
  margin: 5px;
  text-align: center;
}

.button {
  background-color: red;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

#choice.button {
  background-color: black;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

#fc.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#fc.box {
  background-color: red;
  width: 35%;
  padding: 20px;
  margin: 5px;
  text-align: center;
}

#freetrial.box {
  background-color: black;
  padding: 10px;
  margin: 5px;
  text-align: center;
}

form {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
  color: white;
}

#cs.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#cs.box {
  background-color: red;
  width: 35%;
  padding: 20px;
  margin: 5px;
  text-align: center;
}

#rm.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#rm.box {
  background-color: red;
  width: 35%;
  padding: 20px;
  margin: 5px;
  text-align: center;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: white;
}

a, #rm.rm {
  text-decoration: none;
  color: rgb(197, 197, 161);
}

input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
  color: black;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: white;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: white;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: white;
}
